<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>星期五</key>
	<array>
		<dict>
			<key>icon</key>
			<string>2533</string>
			<key>intro</key>
			<string>肉笼 ,糖醋三丝, 玉米杂粥</string>
			<key>name</key>
			<string>早餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2542</string>
			<key>intro</key>
			<string>肉笼, 糖醋三丝, 玉米杂粥</string>
			<key>name</key>
			<string>午餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2545</string>
			<key>intro</key>
			<string>米饭 ,西红柿炒鸡蛋, 绿豆米饭, 苹果</string>
			<key>name</key>
			<string>晚饭</string>
		</dict>
	</array>
	<key>星期四</key>
	<array>
		<dict>
			<key>icon</key>
			<string>2537</string>
			<key>intro</key>
			<string>米饭 ,西红柿炒鸡蛋, 绿豆米饭 ,苹果</string>
			<key>name</key>
			<string>早餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2539</string>
			<key>intro</key>
			<string>米饭, 西红柿炒鸡蛋 ,绿豆米饭, 苹果</string>
			<key>name</key>
			<string>午餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2541</string>
			<key>intro</key>
			<string>米饭 ,西红柿炒鸡蛋, 绿豆米饭, 苹果</string>
			<key>name</key>
			<string>晚饭</string>
		</dict>
	</array>
	<key>星期三</key>
	<array>
		<dict>
			<key>icon</key>
			<string>2565</string>
			<key>intro</key>
			<string>百合粥 ,糖三角 ,卤猪肝, 牛奶</string>
			<key>name</key>
			<string>早餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2566</string>
			<key>intro</key>
			<string>百合粥, 糖三角, 卤猪肝, 牛奶</string>
			<key>name</key>
			<string>午餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2558</string>
			<key>intro</key>
			<string>百合粥, 糖三角, 卤猪肝 ,牛奶</string>
			<key>name</key>
			<string>晚饭</string>
		</dict>
	</array>
	<key>星期二</key>
	<array>
		<dict>
			<key>icon</key>
			<string>2516</string>
			<key>intro</key>
			<string>百合粥 ,糖三角, 卤猪肝 ,牛奶</string>
			<key>name</key>
			<string>早餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2517</string>
			<key>intro</key>
			<string>米饭 ,西红柿炒鸡蛋 ,绿豆米饭, 苹果</string>
			<key>name</key>
			<string>午餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2518</string>
			<key>intro</key>
			<string>肉笼, 糖醋三丝, 玉米杂粥</string>
			<key>name</key>
			<string>晚饭</string>
		</dict>
	</array>
	<key>星期一</key>
	<array>
		<dict>
			<key>icon</key>
			<string>2521</string>
			<key>intro</key>
			<string>糖三角, 卤猪肝 ,牛奶</string>
			<key>name</key>
			<string>早餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2522</string>
			<key>intro</key>
			<string>炒鸡蛋, 绿豆米饭 ,苹果</string>
			<key>name</key>
			<string>午餐</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>2523</string>
			<key>intro</key>
			<string>糖醋三丝 ,玉米杂粥</string>
			<key>name</key>
			<string>晚饭</string>
		</dict>
	</array>
</dict>
</plist>
