<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>15201938222</string>
		<key>name</key>
		<string>王老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>18098765723</string>
		<key>name</key>
		<string>李老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>1387634876</string>
		<key>name</key>
		<string>孙老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>1702354987e</string>
		<key>name</key>
		<string>郝老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>13848763489</string>
		<key>name</key>
		<string>王老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>18398764583</string>
		<key>name</key>
		<string>孙老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>15098762376</string>
		<key>name</key>
		<string>孙老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>13823476243</string>
		<key>name</key>
		<string>王老师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>15743678235</string>
		<key>name</key>
		<string>小浩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>18023763146</string>
		<key>name</key>
		<string>小丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>13087246853</string>
		<key>name</key>
		<string>可可</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>15098247835</string>
		<key>name</key>
		<string>伊莉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>18378624786</string>
		<key>name</key>
		<string>丽丽</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>13678459321</string>
		<key>name</key>
		<string>婷婷</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>15783247609</string>
		<key>name</key>
		<string>欧豪</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator0@2x</string>
		<key>intro</key>
		<string>17043872365</string>
		<key>name</key>
		<string>安娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>15798224567</string>
		<key>name</key>
		<string>婕拉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>13843435277</string>
		<key>name</key>
		<string>未杰</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_avator1@2x</string>
		<key>intro</key>
		<string>13743424499</string>
		<key>name</key>
		<string>克莱</string>
	</dict>
</array>
</plist>
