<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data2</key>
	<array>
		<dict>
			<key>Image</key>
			<string>images-1.jpeg</string>
			<key>Place</key>
			<string>images-2.jpeg</string>
			<key>Country</key>
			<string>images-3.jpeg</string>
		</dict>
	</array>
	<key>Data</key>
	<array>
		<dict>
			<key>Image</key>
			<string>images-1.jpeg</string>
			<key>Place</key>
			<string>images-2.jpeg</string>
			<key>Country</key>
			<string>images-3.jpeg</string>
		</dict>
	</array>
</dict>
</plist>
