<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon_avator1@2x</string>
				<key>intro</key>
				<string>初中好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_avator0@2x</string>
				<key>intro</key>
				<string>初中好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_avator1@2x</string>
				<key>intro</key>
				<string>初中好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_avator0@2x</string>
				<key>intro</key>
				<string>初中好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_avator1@2x</string>
				<key>intro</key>
				<string>初中好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_avator1@2x</string>
				<key>intro</key>
				<string>初中好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-5</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_avator0@2x</string>
				<key>intro</key>
				<string>初中好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_avator1@2x</string>
				<key>intro</key>
				<string>初中好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>幼儿园</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>teacher130x130</string>
				<key>intro</key>
				<string>作文老师</string>
				<key>name</key>
				<string>王老师</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict/>
			<dict/>
			<dict/>
			<dict/>
			<dict/>
			<dict/>
			<dict/>
			<dict/>
		</array>
		<key>name</key>
		<string>班级老师</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
