<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-28T11:37:42Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mac/Desktop/工作/xingxingedu-parent 11-28晚/XingXingEdu/XingXingEdu.xcworkspace</string>
</dict>
</plist>
